.hidden
  display: none

.button-hover
  transition: all .2s
  background: #fff
  
.button-blue
  background: #fff
  &:hover
    background: #304ffe
    color: #fff

.button-red
  background: #fff
  &:hover
    background: #d50000
    color: #fff

.link-hover
  transition: all .2s
  color: #000
  &:hover
    color: #304ffe

.default-btn-margin
  margin-top: 20px
  margin-right: 10px
  &:last-child
    margin-right: 0

.borderError
  border: 1px solid red

.btn-margin
  margin-left: 20px
  &:first-child
    margin-left: 0
