// .item
//   display: flex
//   align-items: center
//   justify-content: space-between
//   box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1)
//   margin-top: 20px
// .item:last-child
//   margin-bottom: 0
.item
  display: flex
  justify-content: space-around
  margin-bottom: 40px
  flex-direction: row
  position: relative
  &:last-child
    margin-bottom: 0

.delete
  font-weight: 400
  font-size: 20px
  position: absolute
  top: 5px
  right: 5px
  cursor: pointer