.container
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 600px
  margin: 0 auto
  margin-top: 20px
  background-origin: padding-box
  &_two
    justify-content: center

.item
  padding: 18px 10px
  background: #fff
  border: none
  cursor: pointer
  transition: all .2s
  &:focus
    outline: none

  &_two
    margin: 0 10px

