функциональности для юзера
    1. Тесты (вопрос - ответ)
    2. Заучивания с алгоритмом anki (показать вопрос, затем по нажатию кнопки показать ответ,
       если угадал, увеличить время следующего повторения, иначе время след. повторения=сейчас)
    3. Возможность просмотра комбинаций
    4. Возможность создания своих собственных списков карточек
    5. Возможность добавления карточек других пользователей
    6. Регистрация / авторизация

формулировки
    список - именованная совокупность карточек
    карточка - одна пара вопрос-ответ
модули
    работа с ДБ:
        - Регистрация
        - вход
        
        - создание списков
        class List {
            public create(name, userId)
            public getById(listId)
            public getUsers(listId)
        }
        - получение списков
        - удаление списков

        class Card {
            public create(question, answer, listId)
            public get(listId)
            public getDatePrevRevise(cardId)
            public setDatePrevRevise(cardId, nextDate)
            public getDateNextRevise(cardId)
            public setDateNextRevise(cardId, nextDate)
        }
        - добавление карточек
        - получение карточек
        - удаление карточек

        - получение prev. дня заучивания
        - изменение prev. дня заучивания

        - получение next. дня заучивания
        - изменение next. дня заучивания
    тест
        - вывод всех карточек
        - выбор карточки пользователем
        - вывод вопроса
        - ожидание ответа
        - проверка вопроса
        - удаление комбинации из массива
        - инкремент счетчиков
        - след. комбинация
    Просмотр комбинаций
        - вывод всех комбинаций
    Заучивание
        - ВАЖНО вывод не всех комбинаций, а только тех, для которых дата последнего повторения - дата след. повторения <= 0
        - получение всех карточек
        - выбор карточки пользователем
        - вывод вопроса
        - ожидание нажатия на кнопку (показать ответ)
        - вывод ответа
        - ожидание нажатия на кнопку (насколько трудно было отвечать (легко - средне - трудно - не ответил))
        - формулы:
          Y - через сколько дней повторять
          X - последний день повторения после заучивания
          если легко, то Y = X * 2 + 1
          если средне, то Y = X * 2
          если трудно, то Y = 1
          если не смог ответить, то Y = 1
        - примеры:
          через сколько повторять = 1
          если легко то 
          через сколько повторять = 1 * 2 + 1 (3)
          если легко то
          через сколько повторять = 3 * 2 + 1 (7)
        - вычисление след. дня повторения для комбинации
        - запись след. дня повторения в БД
        - следующая комбинация
    Управление карточками (обзор)
        - сделать кнопку добавления новой карточки
        - вывод всех карточек, у каждой карточки есть кнопка удалить 
        - Управление комбинациями
            - вывод всех комбинаций
            - возможность удалить комбинацию
            - возможность edit'а вопроса/ответа по нажатию по нему, просто ввод в input


Страницы
    - стартовая страница
        - описание продукта
        - предложение зарегестрироваться
    - ваши карточки
        - вывод всех карточек
        - кнопка добавить карточку
        - при добавлении появляется новый айтем выше кнопки с дефолтным именем, которое можно поменять на pg NameCard карточка
    - NameCard карточка (выбранная карточка)
        - просмотр комбинаций
        - кнопки обзор, пройти тест и заучивание
        - возможность редактирования вопросов и ответов
        - возможность удаления комбинаций
        - возможность изменения названия карточки
    - тест
        - список всех комбинаций карточки
        - предлагается ввести ответ
        - в конце кнопка проверить
    - заучивание
        - выводится вопрос
        - по нажатию на кнопку 
    - поиск карточек у других пользователей


Database
    user
        user_id
        login
        password
        list_id JSON
    list
        list_id
        name
    card
        card_id
        question
        answer
        date_prev_revise
        date_next_revise
        list_id

Sample database
user
    0 VaniaFed John2332   { [0, 1, 3] }
    1 Dron     HelloWorld { [0, 1, 3] }

list
    0 ENG past simple 
    1 Eng future simple

card
    0 'привет' 'hi' 27.12.2018 11:23 30.12.2018 11:23
    1 'пока' 'bye' 27.11.2018 9:53 30.12.2018 11:23
    2 'лод' 'jlkj' 27.12.2018 11:23 30.12.2018 11:23