.modal__title
  text-align: center
  font-weight: 300
  font-size: 30px

.modal__input
  width: 100%
  margin-top: 25px
  padding: 16px 20px
  font-weight: 300
  &:focus
    outline: none
  &__text
    &::placeholder
      font-weight: 300
  &__submit
    background: #304ffe
    color: #fff
    border: none
    cursor: pointer
    font-weight: 700
    font-size: 18px
    margin-top: 40px
    &:hover
      background: #2962FF
      color: #fff
    &:active
      background: #304ffe
