include ../includes/head.pug
body
  .wrapper
    include ../includes/header.pug
    #authorization
    .modal-bg
      form.modal-container(name='authorization_form')
        h2.modal__title Авторизация
        input.modal__input.modal__input__text(placeholder='Логин' name='login')
        input.modal__input.modal__input__text(placeholder='Пароль' name='password') 
        input#authorization__submit.modal__input.modal__input__submit(type="submit" value='Войти' name='submit')