doctype html
html(lang='ru')
  include ../includes/head.pug
  body#cards-review
    .wrapper
      include ../includes/header.pug
      main.cards-container.container
        .cards
          .card-item
            a.card__link(href='/cards/card/3')
              .card__quantity 23 комбинаций
              .card__name English past simple
            a.card__delete(href='#') Удалить
          .card-item
            a.card__link(href='/cards/card/3')
              .card__quantity 23 комбинаций
              .card__name English past simple
            a.card__delete(href='#') Удалить
          .card-item
            a.card__link(href='/cards/card/3')
              .card__quantity 23 комбинаций
              .card__name English past simple
            a.card__delete(href='#') Удалить
          .card-item
            a.card__link(href='/cards/card/3')
              .card__quantity 23 комбинаций
              .card__name English past simple
            a.card__delete(href='#') Удалить
          .card-item
            a.card__link(href='/cards/card/3')
              .card__quantity 23 комбинаций
              .card__name English past simple
            a.card__delete(href='#') Удалить
        a.cards__add(href='#') Добавить новую карточку
