include ../includes/head.pug
body
  .wrapper
    include ../includes/header.pug
    .modal-bg
      .modal-container
        h2.modal__title Регистрация
        input.modal__input.modal__input__text(placeholder='Логин')
        input.modal__input.modal__input__text(placeholder='Пароль') 
        input.modal__input.modal__input__text(placeholder='Повторите пароль') 
        input.modal__input.modal__input__submit(type="submit" value='Зарегестрироваться')