doctype html
html(lang="ru")
  include ../includes/head.pug
  body
    .wrapper
      include ../includes/header.pug
      .container
        main.remember-container
          h2.remember__title Название списка
          .remember__question Знакомый
          button.remember__check Проверить
