header.header
  .container
    .header-inner
      .logo
        h1.logo__text Train to Memorize!
        p.logo__tagline Запоминайте больше информации и равивайте свою память
      .user
        a.user__link.user__login.link-hover(href='/login') Войти
        a.user__link.user__checkin.link-hover(href='/checkin') Зарегестрироваться