header.header
  .container
    .header-inner
      .logo
        h1.logo__text Train to Memorize!
        p.logo__tagline Запоминайте больше информации и равивайте свою память
      .user
        a.user__link.user__login(href='/login') Войти
        a.user__link.user__checkin(href='/checkin') Зарегестрироваться
nav.nav-action
  ul.action-list
    li.action-item
      a.action__link(href='#') Обзор
    li.action-item
      a.action__link(href='#') Тест
    li.action-item
      a.action__link(href='#') Заучивание