nav.nav-action
  ul.action-list
    li.action-item
      a.action__link(href='#') Обзор
    li.action-item
      a.action__link(href='#') Тест
    li.action-item
      a.action__link(href='#') Заучивание
