nav.nav-action
  ul.action-list
    li.action-item
      a.action__link(href='manageCards.html') Обзор
    li.action-item
      a.action__link(href='test.html') Тест
    li.action-item
      a.action__link(href='remember.html') Заучивание
