*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  box-sizing: border-box

a, a:active, a:hover
  text-decoration: none

li
  list-style-type: none

img
  max-width: 100%

p 
  margin: 0

html, body
  width: 100%
  height: 100%

body
  font: 16px/1.5 Roboto, Arial, 'Sans-serif'
  background: #efefef
  color: #333

.wrapper
  overflow-x: hidden
  overflow-y: auto
  perspective: 2px