@import './vars';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  box-sizing: border-box

a, a:active, a:hover
  text-decoration: none

li
  list-style-type: none

img
  max-width: 100%

p 
  margin: 0

html, body
  height: 100%
  width: 100%

body
  font: 16px/1.5 Roboto, Arial, 'Sans-serif'
  background: #efefef
  color: #333
  overflow-x: hidden

.wrapper
  margin-bottom: 100px

borderError
  border: 1px solid red

.btn-margin
  margin-left: 20px
  &:first-child
    margin-left: 0



