.test__title
  text-align: center

.test-items
  margin-top: 40px

.test__delete
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer
  font-size: 18px

.test__item
  display: flex
  justify-content: space-around
  flex-direction: column;
  margin-bottom: 40px
  position: relative
.test-item:last-child
  margin-bottom: 0
  
.item__bg
  padding: 20px 30px 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05)
  background: #fff
  margin-bottom: 15px
.item__bg:last-child
  margin-bottom: 0

.item__title
  font-weight: 700
  font-size: 24px
  margin-bottom: 5px

.test__input
  border: none
  background: none
  width: 100%
  font-weight: 300
  color: #333
.test__input:focus
  outline: none
.test__input::placeholder
  color: #000

.test__check
  margin-top: 60px
  width: 100%
  border: none
  background: #304ffe
  color: #fff
  padding: 20px
  cursor: pointer
.test__check:focus
  outline: none
.test__check:hover
  background: #2962FF

.test__question
  resize: none